## PHP-APACHE                                                   *** .htaccess ***
##
## ******************************************************************************
## * TPhpPrown:        выполнить установки доступа к файлам каталога библиотеки *
## ******************************************************************************
##
##                                                     Автор:       Труфанов В.Е.
##                                                     Дата создания:  09.04.2019
## Copyright © 2019 tve                                Посл.изменение: 26.01.2020

## Разрешаем доступ к файлам php в библиотеке
<FilesMatch "\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

## **************************************************************** .htaccess ***
