## PHP-APACHE                                       *** tve_parts/.htaccess ***
##
## ****************************************************************************
## * doortry.ru    Произвести локальные установки PHP в подкаталоге tve_parts *
## ****************************************************************************
##
##                                                   Автор:       Труфанов В.Е.
##                                                   Дата создания:  09.04.2019
## Copyright © 2019 tve                              Посл.изменение: 14.03.2024

Order Deny,Allow
Deny from all
 
<Files ~ "\.(jpg|png|fzb)$">
Allow from all
</Files>

## **************************************************** tve_parts/.htaccess ***
