/** HTML5/CSS3, EDGE/CHROME                               *** ApiPogoda.css ***
 *
 ******************************************************************************
 * doortry.ru            Вывести информацию о погоде с IP-адреса пользователя *
 ******************************************************************************
 *
 *                                                   Автор:       Труфанов В.Е.
 *                                                   Дата создания:  19.04.2022
 * Copyright © 2022 tve                              Посл.изменение: 22.04.2022
**/
#Badge
{
   float:left;
   padding-top:1rem;   
   padding-left:1rem;
   padding-right:1rem;
}
#Pogoda
{
   margin: 0;
}
#Pogoda table 
{
   border-collapse: collapse; 
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: #0C213B;
}
.tLeft
{
   width:17rem;
}
.tRight
{
   width:14rem;
}
.tWidth
{
   width:31rem;
}
#Pogoda td 
{
   font-size: 0.8rem;
   font-family: annabelle, cursive;
   font-weight: bold;
   font-size: 1.4rem;
   color: #F3CD26;
   text-shadow: .1rem .1rem 0 rgba(0,0,0,.3);
}

/*********************************************************** ApiPogoda.css ***/
