/* CSS Document */
.Instrumenty 
{
   margin: 0;
   background: #F4F1F8;
}
.Instrumenty table 
{
   border-collapse: collapse; 
   line-height: 1.1;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
   color: #0C213B;
   width: 100%;
}
.Instrumenty caption 
{
   font-family: annabelle, cursive;
   font-weight: bold;
   font-size: 2rem;
   padding: 1rem; 
   color: #F3CD26;
   text-shadow: .1rem .1rem 0 rgba(0,0,0,.3);
}
.Instrumenty caption:before, .Instrumenty caption:after 
{
   /*
   content: "\274B";
   color: #A9E2CC;
   margin: 0 1rem;
   */
}
.Instrumenty .separator 
{
   background: #A9E2CC;
}
.Instrumenty .separator td
{
   padding: .1rem .1rem;
}
.Instrumenty th 
{
   padding: 1rem;
   border: .1rem solid #A9E2CC;
}
.Instrumenty td 
{
   font-size: 0.8rem;
   padding: .5rem .7rem;
   border: .1rem solid #A9E2CC;
}
.Instrumenty .first 
{
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
   /*color: red;*/
}
.Instrumenty .comment
{                                            
   width: 30%;
}
.Instrumenty p
{
   text-indent: 1rem; 
}
