/** HTML5/CSS3, EDGE/CHROME                              *** MobiStyles.css ***
 *
 ******************************************************************************
 * doortry.ru      Сайт сбора сообщений об ошибках/исключениях и формирования *
 *           страницы с выводом сообщений, а также комментариев для PHP5-PHP7 *
 ******************************************************************************
 *
 *                                                   Автор:       Труфанов В.Е.
 *                                                   Дата создания:  09.04.2019
 * Copyright © 2019 tve                              Посл.изменение: 26.11.2019
**/

/**
 *   Cбрасываем стили браузера 
**/
*
{
   box-sizing:border-box; 
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
   margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section 
{
   display:block;
}
/**
 * Определяем базовый шрифт, устанавливаем размеры шрифтов по умолчанию, стили
 * списков и таблиц и определяем в процентах пространство документа 
**/
html
{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;	
   font-size:10px;
}
body 
{
   font-size:1.6rem;  
   width:100%;
   height:100%;
   /*background: yellow;*/
}
table 
{
	border-collapse:collapse;
	border-spacing:0;
} 
/**
 * Форматируем шапку страницы, меню и заголовок страницы
**/
#res
{
	font-size:1.2rem;	
	color:red;
	font-weight:bold;
   /*display:none;*/
}
header 
{
	background-color:rgb(93,43,78); 
	background-image:linear-gradient(to left, rgb(93,43,78), rgb(8,2,50));
   height:9.8rem; 
   min-width:128px;
}
header #dVer
{
   float:right;
	color:white;
   padding-top:1rem;   
   padding-right:1rem;
}
header h2 
{
	font-size:2.0rem;	
	color:white;
	font-weight:bold;
   padding-top:1.8rem;
   margin-left:1rem;
   margin-right:1rem;
}
/**
 * Позиционируем элементы разметки, порядок размещения текстов
**/
h1 
{
   margin-bottom:0.6rem;
}
.main 
{
   width:100%;
   text-align:justify;
   /* Делаем отступы текста от границ                                */
   /* (когда было margin к body, то не срабатывало с правой стороны) */
   padding-left:1rem;
   padding-right:1rem;
   /*background-color:yellow;*/
}
.dAbz
{
   width:100%;
   background-color:white;
}
.News
{
   //position:relative; 
   //top:0.0rem;   
}
#dImgSimPri
{
   width:98%;
   margin-left: 1.2rem;
}
#ImgSimPri
{
   width:100%;
}
#dImgObrErr
{
   width:100%;
}
#ImgObrErr
{
   width:100%;
}
/**
 * Форматируем показ кода
**/
.CodeText
{
   font-size:1.2rem;	
	font-weight:bold;
   padding:0.6rem 0 0.6rem 0;
   float:left;
   color:gray;
   font-family:monospace;
   text-align:left;
   /*
   border-right:1px solid gray;}
   body {margin:0px; margin-left:5px;}
   */
   td {vertical-align:top;}
   code {white-space:nowrap;}
}
/*********************************************************** MobiStyles.css ***/
