/** HTML5/CSS3, EDGE/CHROME                                  *** Styles.css ***
 *
 ******************************************************************************
 * doortry.ru      Сайт сбора сообщений об ошибках/исключениях и формирования *
 *           страницы с выводом сообщений, а также комментариев для PHP5-PHP7 *
 ******************************************************************************
 *
 *                                                   Автор:       Труфанов В.Е.
 *                                                   Дата создания:  09.04.2019
 * Copyright © 2019 tve                              Посл.изменение: 29.11.2019
**/

/**
 * Cбрасываем стили браузера 
**/
*
{
   box-sizing:border-box; 
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video 
{
   margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section 
{
   display:block;
}
/**
 * Определяем базовый шрифт, устанавливаем размеры шрифтов по умолчанию, стили
 * списков и таблиц и определяем в процентах пространство документа 
**/
html
{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;	
   font-size:10px;
}
body 
{
   font-size:1.6rem;  
   width:100%;
   height:100%;
   min-width:532px;
   /*background: yellow;*/
}
table 
{
	border-collapse:collapse;
	border-spacing:0;
} 
/**
 * Размещаем штрих-код с адресом сайта
**/
#dImghVerh
{
   float:left;
   border-left:0.1rem solid black;
   border-bottom:0.1rem solid black;
   margin-left:2rem;
}
#ImghVerh
{
   height:12rem;
}
/**
 * Форматируем шапку страницы, меню и заголовок страницы
**/
header 
{
	background-color:rgb(93,43,78); 
	background-image:linear-gradient(to left, rgb(93,43,78), rgb(8,2,50));
   height:12.4rem;
   margin-left:14.4rem;
   min-width:128px;
}
header h1, header h2 
{
	font-size:3rem;	
	color:white;
	font-weight:bold;
   padding-top:2.64rem;
   padding-bottom:2.64rem;
	padding-left:1rem;
}
#dVer
{
   float:right;
	color:white;
   padding-top:1rem;   
   padding-right:1rem;
}
/**
 * Позиционируем элементы разметки, порядок размещения текстов
**/
.LeftBar 
{
   float:left;
}
.columnWrapper 
{
   float:right;
}
.main 
{
   float:left;
   width:75%;
   border-left:dashed 0.1rem rgb(153,153,153);
   border-right:dashed 0.1rem rgb(153,153,153);
   text-align:justify; 
}
.RightBar 
{
   float:right;
   width:25%; 
   text-align:center; 
}
/**
 * Позиционируем штрих-код стихотворения
**/
#dImghStih
{
   margin-top:2rem;
}
#ImghStih
{
   height:16rem;
}
/**
 * Определяем общие параметры колонок новостей и стихотворений
**/
aside h2 
{
	font-size:1.9rem;
	margin-top:1rem;	
}
aside h3 
{
	font-size:1.8rem;
	margin-top:1rem;
}
aside p, aside li 
{
	font-size:1.5rem;
	margin-top:1rem;	
}
/**
 * Определяем параметры колонок текста главного материала
**/
.main h1, .main h2 
{
	font-size:2.3rem;
	margin-top:1rem;	
}
.main h3 
{
	font-size:2.2rem;
	margin-top:1rem;	
}
.main p 
{
	margin-bottom:0.8rem;	
}
/**
 * Устанавливаем поля во всех трех колонках вокруг содержимого
**/
.LeftBar 
{
   padding:0 2rem 0 1rem;
}
.main 
{
   padding:0 2rem;
}
.RightBar 
{
   padding:0 1rem 0 2rem;
}
/**
 * Форматируем элементы подвала страницы
**/
footer 
{
	margin-top:1.5rem;
	font-size:1.4rem;	
	padding:1rem 3rem 3rem 3rem;
	background-color:black;
	color:rgb(204,204,204);
   clear:both;  
}
footer a 
{
	color:white;	
}
footer .pLeft 
{
	float:left;
}
footer .pRight 
{
	float:right;
}
/**
 * Форматируем показ кода
**/
.CodeText
{
   width:100%;
   background:#EFF4DC;
   /*border-right:1px solid gray;}*/
}
code
{
   /*overflow:auto;*/ 
   white-space:nowrap;
   font-size:1.6rem;	
	font-weight:bold;
   /*border:1px solid gray;*/
}
@media (min-width: 481px) and (max-width:768px) 
{
}
.dAbz
{
   margin-top:1rem;
   margin-left:1rem;
   margin-right:1rem;
}
#dImgSimPri, #dImgSimPri2
{
   width:98%;
   margin-left:1.2rem;
}
#ImgSimPri, #ImgSimPri2
{
   width:100%;
}
#dImgObrErr
{
   width:100%;
}
#ImgObrErr
{
   width:100%;
}
/************************************************************** Styles.css ***/
