/** HTML5/CSS3, EDGE/CHROME                                  *** _Stihi.css ***
 *
 ******************************************************************************
 * doortry.ru     Форматировать страницы со стихами для сайта сбора сообщений *
 *                                                     об ошибках/исключениях *
 ******************************************************************************
 *
 *                                                   Автор:       Труфанов В.Е.
 *                                                   Дата создания:  09.04.2019
 * Copyright © 2019 tve                              Посл.изменение: 28.09.2021
**/

/* Cбрасываем стили браузера */
* {box-sizing:border-box;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, 
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
   margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section 
{
   display:block;
}
/* 
  Определяем базовый шрифт, устанавливаем размеры шрифтов по умолчанию, стили
  списков и таблиц и определяем в процентах пространство документа 
*/
html
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
   font-size: 10px;
}
body 
{
   font-size: 1.8rem;  
   width: 100%;
   height: 100%;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
h1
{
   font-size: 2.2rem;  
   text-align: center; 
}
/* Форматируем тексты */
.stihabzPdp 
{
   text-align:center; 
	font-size:1.2rem;	
	font-weight:bold;
}
.StihCenter
{
   text-align: center; 
}
.TxtJustify
{
   text-align:justify; 
   color:#b8860b; /*darkgoldenrod*/
   font-size:1.4rem;  
	font-weight:bold;
}

/* Определяем фоны = background:transparent; */
#divTop    {background:blue;}
#divStrip  {background:transparent;}
#divBottom {background:teal;}
/* Форматируем размещение фотографий, подписей под ними и текстов между фото*/
.bImg
{
   width:100%;
   margin-top:1.3rem;
   padding-left:.7rem;
   padding-right:.7rem;
}
.pStrap
{
	color:blue;
   font-size:1.4rem;  
	font-weight:bold;
   padding-left:.7rem;
}
.WithImg
{
   padding-left:.7rem;
   padding-right:.7rem;
}

/* ********************************************************** _Stihi.css *** */
