/** HTML5/CSS3, EDGE/CHROME                              *** SignaPhoto.css ***

 ******************************************************************************
 *                Определить стили страницы "Подписать фотографию"            *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  03.06.2021
 Copyright © 2021 tve                                Посл.изменение: 17.06.2021
*/

/*html{font-family:'Anonymous Pro',monospace;font-size:16px;}*/
body 
{
  //background:url(Wallpaper/Goryi-Dyimka.jpg) center center no-repeat;
  //background-size:cover;
  background:red;
}

/* Выравниваем верхнее меню InfoLead */
#InfoLead{background:green;height:5rem;} 
/*
#Quant
{
background-color:transparent;border:0;
}
#Quant{width:4rem;background:red;}
*/
#BtnQuant{background:red;}

/*
input#inputi{
    display:none;
}
label#labeli{
   font-family:'Lobster',cursive;
   font-size:1.4rem;
   width:10rem;
}
*/

#Photo
{
   background:yellow;
}
#Pic
{
} 
#CtrlStat
{
   background:magenta;
}

.BtnRight
{
   float:right;
}
.BtnLeft
{
   float:left;
   font-family:'Lobster',cursive;
   font-size:1.4rem;
}
.LoadForm{height:4rem;background:yellow;}

.InputAll
{
   font-family:'Lobster',cursive;
   font-size:1.4rem;
   /*padding:1.2rem .4rem 1.2rem .4rem;*/
   /* border: 1px solid #cecece;
   border-radius: 8px;*/
}
.BtnImg
{
   width:4rem;
   width:4rem;
   padding:0;
}


 

/*
 *********************************************************** SignaPhoto.css ***
*/	
	

