/** HTML5/CSS3, EDGE/CHROME                              *** SignaPhoto.css ***

 ******************************************************************************
 *                Определить стили страницы "Подписать фотографию"            *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  03.06.2021
 Copyright © 2021 tve                                Посл.изменение: 17.06.2021
*/

/*html{font-family:'Anonymous Pro',monospace;font-size:16px;}*/
body 
{
  //background:url(Wallpaper/Goryi-Dyimka.jpg) center center no-repeat;
  //background-size:cover;
  background:red;
}

/* Размещаем div-ы по высоте */
.Buttons
{
}
#InfoLead
{
   background:green;
   height:30rem;
} 
#Photo
{
   background:yellow;
}
#Pic
{
} 
#CtrlStat
{
   background:magenta;
}

.BtnRight
{
   float:right;
}
.BtnLeft
{
   float:left;
}
#LoadForm{height:4rem;background:yellow;}

.InputAll
{
   font-size:1.2rem;
   padding:1.2rem .4rem 1.2rem .4rem;
   /*border: 1px solid #cecece;
   border-radius: 8px;*/
}
#Quant{width:4rem}
/*#InputFile{font-size:1.2rem;}*/
.BtnImg
{
   width:4rem;
   width:4rem;
   padding:0;
}


 

/*
 *********************************************************** SignaPhoto.css ***
*/	
	

