/** HTML5/CSS3, EDGE/CHROME                              *** StyleReset.css ***

 ******************************************************************************
 *                       Выполнить общий сброс стилей для страницы            *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  03.06.2021
 Copyright © 2021 tve                                Посл.изменение: 20.07.2021
*/

/* Выравниваем базовую линию блока по базовой линии родителя */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
/* Все секции представляем, как блоки */
article,aside,details,div,figcaption,figure,footer,header,hgroup,menu,nav,section
{display:block}
body{line-height:1}
/* Снимаем нумерацию и маркеры в списках */
ol,ul{list-style:none}
/* Нумеруем списки арабскими числами (1,2,3,4,...) */
/* ol{list-style:decimal;} */
/* Ставим маркер в виде квадрата в маркированных списках */
/* ul{list-style:square;} */
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after
{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/* Содержим поля в ширине блока (кроме margin) */
* {box-sizing: border-box;}
/* Снимаем умалчиваемый стили браузеров при фокусировании на поле ввода */
* *:focus {outline:none;} 
html{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:10px;}
body{font-size:1.6rem;width:100%;height:100%;min-width:532px;}
/*
 *********************************************************** StyleReset.css ***
*/	
	

